html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #609aff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pricing-table {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 20px;
    max-width: 100%;
}