html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #609aff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pricing-table {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    max-width: 960px;
}