/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Container */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

/* Header */
.header {
    background: #111;
    color: #fff;
}

.logo {
    font-family: monotype corsiva, cursive;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Main */
.main {
    background: #f4f4f4;
    padding: 60px 0;
}

.main-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-image img {
    width: 400px;
    height: 200px;
}

.main-content h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}

.btn:hover {
    background: #333;
}

/* Features */
.features {
    padding: 60px 0;
}

.feature-grid {
    display: flex;
    gap: 20px;
}

.card {
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

/* Footer */
.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer p {
    font-family: monotype corsiva, cursive;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .feature-grid {
        flex-direction: column;
    }

    .nav-links {
        display: none;
        /* Optional: add hamburger menu later */
    }
}